In [ ]:
import pandas as pd

data_1 = pd.read_csv("Обработанный 11-2022.csv", sep = ";")
data_1.head()

,Unnamed: 0,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор
0,1,54701.0,30-11-2022 21:53,30-11-2022 21:51,Нет,NaN,Деркач Э.,Деркач Э.,NaN,650.00,0.0,650.00,ФР 6
1,2,54700.0,30-11-2022 21:34,30-11-2022 21:31,Нет,NaN,Деркач Э.,Деркач Э.,NaN,300.00,0.0,300.00,ФР 6
2,3,54699.0,30-11-2022 21:17,30-11-2022 21:14,Нет,NaN,Деркач Э.,Деркач Э.,NaN,515.00,0.0,515.00,ФР 6
3,4,54698.0,30-11-2022 21:14,30-11-2022 21:11,Нет,NaN,Деркач Э.,Деркач Э.,Вид Не товарный,0.00,0.0,0.00,ФР 6
4,5,54697.0,30-11-2022 21:03,30-11-2022 21:01,Нет,NaN,Деркач Э.,Деркач Э.,Злата Парамонычева,0.00,0.0,0.00,ФР 6

In [ ]:
data_1.drop(columns = ["Unnamed: 0"], axis = 1, inplace = True)
data_1.head()

,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор
0,54701.0,30-11-2022 21:53,30-11-2022 21:51,Нет,NaN,Деркач Э.,Деркач Э.,NaN,650.00,0.0,650.00,ФР 6
1,54700.0,30-11-2022 21:34,30-11-2022 21:31,Нет,NaN,Деркач Э.,Деркач Э.,NaN,300.00,0.0,300.00,ФР 6
2,54699.0,30-11-2022 21:17,30-11-2022 21:14,Нет,NaN,Деркач Э.,Деркач Э.,NaN,515.00,0.0,515.00,ФР 6
3,54698.0,30-11-2022 21:14,30-11-2022 21:11,Нет,NaN,Деркач Э.,Деркач Э.,Вид Не товарный,0.00,0.0,0.00,ФР 6
4,54697.0,30-11-2022 21:03,30-11-2022 21:01,Нет,NaN,Деркач Э.,Деркач Э.,Злата Парамонычева,0.00,0.0,0.00,ФР 6

In [ ]:
data_2 = pd.read_csv("Обработанный 01_12_22_to_31_01_23.csv", sep = ";")
data_2.head()

,Unnamed: 0,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор
0,4,63815.0,31-01-2023 21:23,31-01-2023 21:21,Нет,NaN,Деркач Э.,Деркач Э.,Списание Просрочено,0.00,0.0,0.00,ФР 6
1,5,63814.0,31-01-2023 20:58,31-01-2023 20:57,Нет,NaN,Красавчик Л.,Красавчик Л.,NaN,290.00,0.0,290.00,ФР 4
2,6,63813.0,31-01-2023 20:42,31-01-2023 20:37,Нет,NaN,Деркач Э.,Деркач Э.,Вид Не товарный,0.00,0.0,0.00,ФР 6
3,7,63812.0,31-01-2023 20:39,31-01-2023 20:34,Нет,NaN,Деркач Э.,Деркач Э.,NaN,350.00,0.0,350.00,ФР 6
4,8,63811.0,31-01-2023 20:37,31-01-2023 20:32,Нет,NaN,Деркач Э.,Деркач Э.,NaN,550.00,0.0,550.00,ФР 6

In [ ]:
data_2.drop(columns = ["Unnamed: 0"], inplace=True)
data_2.head()

,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор
0,63815.0,31-01-2023 21:23,31-01-2023 21:21,Нет,NaN,Деркач Э.,Деркач Э.,Списание Просрочено,0.00,0.0,0.00,ФР 6
1,63814.0,31-01-2023 20:58,31-01-2023 20:57,Нет,NaN,Красавчик Л.,Красавчик Л.,NaN,290.00,0.0,290.00,ФР 4
2,63813.0,31-01-2023 20:42,31-01-2023 20:37,Нет,NaN,Деркач Э.,Деркач Э.,Вид Не товарный,0.00,0.0,0.00,ФР 6
3,63812.0,31-01-2023 20:39,31-01-2023 20:34,Нет,NaN,Деркач Э.,Деркач Э.,NaN,350.00,0.0,350.00,ФР 6
4,63811.0,31-01-2023 20:37,31-01-2023 20:32,Нет,NaN,Деркач Э.,Деркач Э.,NaN,550.00,0.0,550.00,ФР 6

In [ ]:
data_3 = pd.read_csv("Обработанный 01_08_23_to_26_10_23.csv", sep = ";")
data_3.head()

,Столбец1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,Column13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data_3.drop(labels = [0,1,2], inplace=True)
data_3.head()

,Столбец1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,Column13
3,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,104993,26-10-2023 19:39,26-10-2023 19:37,Нет,NaN,Деркач Э.,Деркач Э.,NaN,860.00,0.00,860.00,ФР 6,NaN
6,104992,26-10-2023 19:37,26-10-2023 19:36,Нет,NaN,Деркач Э.,Деркач Э.,NaN,680.00,0.00,680.00,ФР 6,NaN
7,104991,26-10-2023 19:33,26-10-2023 19:31,Нет,NaN,Деркач Э.,Деркач Э.,NaN,810.00,0.00,810.00,ФР 6,NaN

In [ ]:
data_3.head()

3,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор,NaN
3,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,104993,26-10-2023 19:39,26-10-2023 19:37,Нет,NaN,Деркач Э.,Деркач Э.,NaN,860.00,0.00,860.00,ФР 6,NaN
6,104992,26-10-2023 19:37,26-10-2023 19:36,Нет,NaN,Деркач Э.,Деркач Э.,NaN,680.00,0.00,680.00,ФР 6,NaN
7,104991,26-10-2023 19:33,26-10-2023 19:31,Нет,NaN,Деркач Э.,Деркач Э.,NaN,810.00,0.00,810.00,ФР 6,NaN

In [ ]:
data_3

3,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор,NaN
3,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,104993,26-10-2023 19:39,26-10-2023 19:37,Нет,NaN,Деркач Э.,Деркач Э.,NaN,860.00,0.00,860.00,ФР 6,NaN
6,104992,26-10-2023 19:37,26-10-2023 19:36,Нет,NaN,Деркач Э.,Деркач Э.,NaN,680.00,0.00,680.00,ФР 6,NaN
7,104991,26-10-2023 19:33,26-10-2023 19:31,Нет,NaN,Деркач Э.,Деркач Э.,NaN,810.00,0.00,810.00,ФР 6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12151,93037,01-08-2023 08:58,01-08-2023 08:49,Нет,NaN,Деркач Э.,Деркач Э.,NaN,250.00,0.00,250.00,ФР 6,NaN
12152,93036,01-08-2023 08:55,01-08-2023 08:44,Нет,NaN,Деркач Э.,Деркач Э.,NaN,720.00,0.00,720.00,ФР 6,NaN
12153,93035,01-08-2023 08:44,01-08-2023 08:36,Нет,NaN,Деркач Э.,Деркач Э.,NaN,320.00,0.00,320.00,ФР 6,NaN
12154,93034,01-08-2023 08:36,01-08-2023 08:27,Нет,NaN,Деркач Э.,Деркач Э.,NaN,300.00,0.00,300.00,ФР 6,NaN
12155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"72,192.00",NaN,NaN,NaN,NaN

In [ ]:
data_3.drop(index=[3, 4], inplace=True, axis = 0)

# Сбрасываем индекс после удаления строк
data_3.reset_index(drop=True, inplace=True)

data_3.head()

3,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор,NaN
0,104993,26-10-2023 19:39,26-10-2023 19:37,Нет,NaN,Деркач Э.,Деркач Э.,NaN,860.00,0.00,860.00,ФР 6,NaN
1,104992,26-10-2023 19:37,26-10-2023 19:36,Нет,NaN,Деркач Э.,Деркач Э.,NaN,680.00,0.00,680.00,ФР 6,NaN
2,104991,26-10-2023 19:33,26-10-2023 19:31,Нет,NaN,Деркач Э.,Деркач Э.,NaN,810.00,0.00,810.00,ФР 6,NaN
3,104990,26-10-2023 19:31,26-10-2023 19:30,Нет,NaN,Деркач Э.,Деркач Э.,NaN,400.00,0.00,400.00,ФР 6,NaN
4,104989,26-10-2023 19:26,26-10-2023 19:25,Нет,NaN,Деркач Э.,Деркач Э.,NaN,360.00,0.00,360.00,ФР 6,NaN

In [ ]:
data_4 = pd.read_csv("Обработанный 01_04_23_to_31_05_23.csv", sep = ";")
data_4.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,84454,31-05-2023 21:48,31-05-2023 21:41,Нет,NaN,Красавчик Л.,Красавчик Л.,NaN,300.00,0.00,300.00,ФР 6

In [ ]:
data_4.columns = data_4.iloc[2]
data_4.drop(index=[0,1,2,3], inplace=True, axis=0)
data_4.head()

2,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор
4,84454,31-05-2023 21:48,31-05-2023 21:41,Нет,NaN,Красавчик Л.,Красавчик Л.,NaN,300.00,0.00,300.00,ФР 6
5,84453,31-05-2023 21:35,31-05-2023 21:33,Нет,NaN,Арина К.,Арина К.,NaN,800.00,0.00,800.00,ФР 4
6,84452,31-05-2023 21:22,31-05-2023 21:15,Нет,NaN,Красавчик Л.,Красавчик Л.,NaN,450.00,0.00,450.00,ФР 6
7,84451,31-05-2023 21:01,31-05-2023 21:06,Нет,NaN,Красавчик Л.,Красавчик Л.,Любимые Помощники,0.00,0.00,0.00,ФР 6
8,84449,31-05-2023 21:03,31-05-2023 21:03,Нет,NaN,Арина К.,Арина К.,анастасия,740.00,0.00,740.00,ФР 4

In [ ]:
data_5 = pd.read_csv("Обработанный 01_02_23_to_31_03_23.csv", sep=";")
data_5.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73628,31-03-2023 20:06,31-03-2023 22:06,Нет,NaN,Деркач Э.,Деркач Э.,NaN,450.00,0.00,450.00,ФР 6

In [ ]:
data_5.columns = data_5.iloc[2]
data_5.drop(index=[0,1,2,3], inplace=True, axis=0)
data_5.head()

2,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор
4,73628,31-03-2023 20:06,31-03-2023 22:06,Нет,NaN,Деркач Э.,Деркач Э.,NaN,450.00,0.00,450.00,ФР 6
5,73627,31-03-2023 21:40,31-03-2023 21:40,Нет,NaN,Арина К.,Арина К.,NaN,320.00,0.00,320.00,ФР 4
6,73626,31-03-2023 21:36,31-03-2023 21:35,Нет,NaN,Арина К.,Арина К.,NaN,610.00,0.00,610.00,ФР 4
7,73625,31-03-2023 21:35,31-03-2023 21:28,Нет,NaN,Деркач Э.,Деркач Э.,NaN,550.00,0.00,550.00,ФР 6
8,73621,31-03-2023 21:27,31-03-2023 21:26,Нет,NaN,Арина К.,Арина К.,NaN,360.00,0.00,360.00,ФР 4

In [ ]:
data_6 = pd.read_csv("Обработанный  01_09_2022_to_31_10_2022.csv", sep=";")
data_6.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,49123,31-10-2022 22:01,31-10-2022 22:00,Нет,NaN,Деркач Э.,Деркач Э.,Молодец Вова,0.00,0.00,0.00,ФР 6

In [ ]:
data_6.columns = data_6.iloc[2]
data_6.drop(index=[0,1,2,3], inplace=True, axis=0)
data_6.head()

2,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор
4,49123,31-10-2022 22:01,31-10-2022 22:00,Нет,NaN,Деркач Э.,Деркач Э.,Молодец Вова,0.00,0.00,0.00,ФР 6
5,49122,31-10-2022 22:00,31-10-2022 21:59,Нет,NaN,Деркач Э.,Деркач Э.,Рамона Шеф,0.00,0.00,0.00,ФР 6
6,49121,31-10-2022 21:58,31-10-2022 21:58,Нет,NaN,Деркач Э.,Деркач Э.,Любимые Помощники,630.00,0.00,630.00,ФР 6
7,49120,31-10-2022 21:57,31-10-2022 21:56,Нет,NaN,Деркач Э.,Деркач Э.,NaN,300.00,0.00,300.00,ФР 6
8,49119,31-10-2022 21:56,31-10-2022 21:55,Нет,NaN,Деркач Э.,Деркач Э.,Списание Просрочено,0.00,0.00,0.00,ФР 6

In [ ]:
data_7 = pd.read_csv("Обаботанный 01_06_23_to_31_07_23.csv", sep=";")
data_7.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,93033,31-07-2023 21:21,31-07-2023 21:09,Нет,NaN,Деркач Э.,Деркач Э.,Полина,0.00,0.00,0.00,ФР 6,NaN

In [ ]:
data_7.columns = data_7.iloc[2]
data_7.drop(index=[0,1,2,3], inplace=True, axis=0)
data_7.head()

2,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор,NaN
4,93033,31-07-2023 21:21,31-07-2023 21:09,Нет,NaN,Деркач Э.,Деркач Э.,Полина,0.00,0.00,0.00,ФР 6,NaN
5,93032,31-07-2023 21:20,31-07-2023 21:08,Нет,NaN,Деркач Э.,Деркач Э.,Таня Грин,0.00,0.00,0.00,ФР 6,NaN
6,93031,31-07-2023 21:16,31-07-2023 21:05,Нет,NaN,Деркач Э.,Деркач Э.,Настя,0.00,0.00,0.00,ФР 6,NaN
7,93030,31-07-2023 21:16,31-07-2023 21:04,Нет,NaN,Деркач Э.,Деркач Э.,Повар Дима,0.00,0.00,0.00,ФР 6,NaN
8,93029,31-07-2023 21:15,31-07-2023 21:03,Нет,NaN,Деркач Э.,Деркач Э.,Эспрессо Настройка,0.00,0.00,0.00,ФР 6,NaN

In [ ]:
data_6

2,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор
4,49123,31-10-2022 22:01,31-10-2022 22:00,Нет,NaN,Деркач Э.,Деркач Э.,Молодец Вова,0.00,0.00,0.00,ФР 6
5,49122,31-10-2022 22:00,31-10-2022 21:59,Нет,NaN,Деркач Э.,Деркач Э.,Рамона Шеф,0.00,0.00,0.00,ФР 6
6,49121,31-10-2022 21:58,31-10-2022 21:58,Нет,NaN,Деркач Э.,Деркач Э.,Любимые Помощники,630.00,0.00,630.00,ФР 6
7,49120,31-10-2022 21:57,31-10-2022 21:56,Нет,NaN,Деркач Э.,Деркач Э.,NaN,300.00,0.00,300.00,ФР 6
8,49119,31-10-2022 21:56,31-10-2022 21:55,Нет,NaN,Деркач Э.,Деркач Э.,Списание Просрочено,0.00,0.00,0.00,ФР 6
...,...,...,...,...,...,...,...,...,...,...,...,...
12513,36782,01-09-2022 08:42,01-09-2022 08:37,Нет,NaN,Деркач Э.,Деркач Э.,NaN,"1,270.00",0.00,"1,270.00",ФР 6
12514,36781,01-09-2022 08:36,01-09-2022 08:31,Нет,NaN,Деркач Э.,Деркач Э.,NaN,450.00,0.00,450.00,ФР 6
12515,36780,01-09-2022 08:26,01-09-2022 08:19,Нет,NaN,Ray T.,Ray T.,NaN,580.00,0.00,580.00,ФР 2
12516,36779,01-09-2022 08:15,01-09-2022 08:06,Нет,NaN,Ray T.,Ray T.,дата,310.00,0.00,310.00,ФР 2
12517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"96,630.00",NaN,NaN,NaN

In [ ]:
result = pd.concat([data_1, data_2, data_3, data_4, data_5, data_6, data_7])
result

,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор,NaN,NaN
0,54701.0,30-11-2022 21:53,30-11-2022 21:51,Нет,NaN,Деркач Э.,Деркач Э.,NaN,650.00,0.0,650.00,ФР 6,NaN,NaN
1,54700.0,30-11-2022 21:34,30-11-2022 21:31,Нет,NaN,Деркач Э.,Деркач Э.,NaN,300.00,0.0,300.00,ФР 6,NaN,NaN
2,54699.0,30-11-2022 21:17,30-11-2022 21:14,Нет,NaN,Деркач Э.,Деркач Э.,NaN,515.00,0.0,515.00,ФР 6,NaN,NaN
3,54698.0,30-11-2022 21:14,30-11-2022 21:11,Нет,NaN,Деркач Э.,Деркач Э.,Вид Не товарный,0.00,0.0,0.00,ФР 6,NaN,NaN
4,54697.0,30-11-2022 21:03,30-11-2022 21:01,Нет,NaN,Деркач Э.,Деркач Э.,Злата Парамонычева,0.00,0.0,0.00,ФР 6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8701,84458,01-06-2023 08:31,01-06-2023 08:23,Нет,NaN,Красавчик Л.,Красавчик Л.,NaN,320.00,0.00,320.00,ФР 6,NaN,NaN
8702,84457,01-06-2023 08:32,01-06-2023 08:22,Нет,NaN,Красавчик Л.,Красавчик Л.,NaN,350.00,0.00,350.00,ФР 6,NaN,NaN
8703,84456,01-06-2023 08:30,01-06-2023 08:20,Нет,NaN,Красавчик Л.,Красавчик Л.,NaN,200.00,0.00,200.00,ФР 6,NaN,NaN
8704,84455,01-06-2023 08:04,01-06-2023 08:06,Нет,NaN,Арина К.,Арина К.,NaN,680.00,0.00,680.00,ФР 4,NaN,NaN
8705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"24,679.00",NaN,NaN,NaN,NaN,NaN

In [ ]:
result.reset_index()

,index,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор,NaN,NaN
0,0,54701.0,30-11-2022 21:53,30-11-2022 21:51,Нет,NaN,Деркач Э.,Деркач Э.,NaN,650.00,0.0,650.00,ФР 6,NaN,NaN
1,1,54700.0,30-11-2022 21:34,30-11-2022 21:31,Нет,NaN,Деркач Э.,Деркач Э.,NaN,300.00,0.0,300.00,ФР 6,NaN,NaN
2,2,54699.0,30-11-2022 21:17,30-11-2022 21:14,Нет,NaN,Деркач Э.,Деркач Э.,NaN,515.00,0.0,515.00,ФР 6,NaN,NaN
3,3,54698.0,30-11-2022 21:14,30-11-2022 21:11,Нет,NaN,Деркач Э.,Деркач Э.,Вид Не товарный,0.00,0.0,0.00,ФР 6,NaN,NaN
4,4,54697.0,30-11-2022 21:03,30-11-2022 21:01,Нет,NaN,Деркач Э.,Деркач Э.,Злата Парамонычева,0.00,0.0,0.00,ФР 6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69244,8701,84458,01-06-2023 08:31,01-06-2023 08:23,Нет,NaN,Красавчик Л.,Красавчик Л.,NaN,320.00,0.00,320.00,ФР 6,NaN,NaN
69245,8702,84457,01-06-2023 08:32,01-06-2023 08:22,Нет,NaN,Красавчик Л.,Красавчик Л.,NaN,350.00,0.00,350.00,ФР 6,NaN,NaN
69246,8703,84456,01-06-2023 08:30,01-06-2023 08:20,Нет,NaN,Красавчик Л.,Красавчик Л.,NaN,200.00,0.00,200.00,ФР 6,NaN,NaN
69247,8704,84455,01-06-2023 08:04,01-06-2023 08:06,Нет,NaN,Арина К.,Арина К.,NaN,680.00,0.00,680.00,ФР 4,NaN,NaN
69248,8705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"24,679.00",NaN,NaN,NaN,NaN,NaN

In [ ]:
result.shape

(69249, 14)

In [ ]:
result["Номер чека"].fillna(1)

0       54701.0
1       54700.0
2       54699.0
3       54698.0
4       54697.0
         ...
8701      84458
8702      84457
8703      84456
8704      84455
8705          1
Name: Номер чека, Length: 69249, dtype: object

In [ ]:
result["Номер чека"] = result["Номер чека"].astype(float)

In [ ]:
result["Номер чека"] =  result["Номер чека"].fillna(1)

In [ ]:
result

,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор,NaN,NaN
0,54701.0,30-11-2022 21:53,30-11-2022 21:51,Нет,NaN,Деркач Э.,Деркач Э.,NaN,650.00,0.0,650.00,ФР 6,NaN,NaN
1,54700.0,30-11-2022 21:34,30-11-2022 21:31,Нет,NaN,Деркач Э.,Деркач Э.,NaN,300.00,0.0,300.00,ФР 6,NaN,NaN
2,54699.0,30-11-2022 21:17,30-11-2022 21:14,Нет,NaN,Деркач Э.,Деркач Э.,NaN,515.00,0.0,515.00,ФР 6,NaN,NaN
3,54698.0,30-11-2022 21:14,30-11-2022 21:11,Нет,NaN,Деркач Э.,Деркач Э.,Вид Не товарный,0.00,0.0,0.00,ФР 6,NaN,NaN
4,54697.0,30-11-2022 21:03,30-11-2022 21:01,Нет,NaN,Деркач Э.,Деркач Э.,Злата Парамонычева,0.00,0.0,0.00,ФР 6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8701,84458.0,01-06-2023 08:31,01-06-2023 08:23,Нет,NaN,Красавчик Л.,Красавчик Л.,NaN,320.00,0.00,320.00,ФР 6,NaN,NaN
8702,84457.0,01-06-2023 08:32,01-06-2023 08:22,Нет,NaN,Красавчик Л.,Красавчик Л.,NaN,350.00,0.00,350.00,ФР 6,NaN,NaN
8703,84456.0,01-06-2023 08:30,01-06-2023 08:20,Нет,NaN,Красавчик Л.,Красавчик Л.,NaN,200.00,0.00,200.00,ФР 6,NaN,NaN
8704,84455.0,01-06-2023 08:04,01-06-2023 08:06,Нет,NaN,Арина К.,Арина К.,NaN,680.00,0.00,680.00,ФР 4,NaN,NaN
8705,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"24,679.00",NaN,NaN,NaN,NaN,NaN

In [ ]:
result.to_csv("Полуобработанный датафрейм.csv", sep = ";")

In [10]:
import pandas as pd
df = pd.read_csv("/content/Полуобработанный датафрейм.csv", sep = ";")

<ipython-input-10-21de34493070>:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/content/Полуобработанный датафрейм.csv", sep = ";")

In [11]:
df.head()

,Unnamed: 0,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор,Unnamed: 13,Unnamed: 14
0,0,54701.0,30-11-2022 21:53,30-11-2022 21:51,Нет,NaN,Деркач Э.,Деркач Э.,NaN,650.00,0.0,650.00,ФР 6,NaN,NaN
1,1,54700.0,30-11-2022 21:34,30-11-2022 21:31,Нет,NaN,Деркач Э.,Деркач Э.,NaN,300.00,0.0,300.00,ФР 6,NaN,NaN
2,2,54699.0,30-11-2022 21:17,30-11-2022 21:14,Нет,NaN,Деркач Э.,Деркач Э.,NaN,515.00,0.0,515.00,ФР 6,NaN,NaN
3,3,54698.0,30-11-2022 21:14,30-11-2022 21:11,Нет,NaN,Деркач Э.,Деркач Э.,Вид Не товарный,0.00,0.0,0.00,ФР 6,NaN,NaN
4,4,54697.0,30-11-2022 21:03,30-11-2022 21:01,Нет,NaN,Деркач Э.,Деркач Э.,Злата Парамонычева,0.00,0.0,0.00,ФР 6,NaN,NaN

In [12]:
df = df.sort_values(by = ["Открыт"])
df.drop(columns=["Unnamed: 0"], inplace=True)
df.head()

,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор,Unnamed: 13,Unnamed: 14
48031,63816.0,01-02-2023 08:13,01-02-2023 08:13,Нет,NaN,Таня М.,Таня М.,светлана,300.00,0.0,300.00,ФР 4,NaN,NaN
48030,63817.0,01-02-2023 08:17,01-02-2023 08:17,Нет,NaN,Таня М.,Таня М.,степан,270.00,0.0,270.00,ФР 4,NaN,NaN
48029,63818.0,01-02-2023 08:26,01-02-2023 08:27,Нет,NaN,Таня М.,Таня М.,ирина,330.00,0.0,330.00,ФР 4,NaN,NaN
48028,63819.0,01-02-2023 08:37,01-02-2023 08:38,Нет,NaN,Таня М.,Таня М.,NaN,280.00,0.0,280.00,ФР 4,NaN,NaN
48027,63820.0,01-02-2023 08:45,01-02-2023 08:40,Нет,NaN,Деркач Э.,Деркач Э.,NaN,300.00,0.0,300.00,ФР 6,NaN,NaN

In [14]:
df["Номер чека"][df["Номер чека"] == 1].sum()

1095.0

In [15]:
to_drop = df["Номер чека"][df["Номер чека"] == 1].index
to_drop

Int64Index([  178,   179,   345,   346,   504,   505,   517,   518,   687,
              688,
            ...
            68692, 68711, 68712, 68870, 68871, 69035, 69036, 69199, 69200,
            69248],
           dtype='int64', length=1095)

In [16]:
df = df.drop(to_drop)
df.head()

,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор,Unnamed: 13,Unnamed: 14
48031,63816.0,01-02-2023 08:13,01-02-2023 08:13,Нет,NaN,Таня М.,Таня М.,светлана,300.00,0.0,300.00,ФР 4,NaN,NaN
48030,63817.0,01-02-2023 08:17,01-02-2023 08:17,Нет,NaN,Таня М.,Таня М.,степан,270.00,0.0,270.00,ФР 4,NaN,NaN
48029,63818.0,01-02-2023 08:26,01-02-2023 08:27,Нет,NaN,Таня М.,Таня М.,ирина,330.00,0.0,330.00,ФР 4,NaN,NaN
48028,63819.0,01-02-2023 08:37,01-02-2023 08:38,Нет,NaN,Таня М.,Таня М.,NaN,280.00,0.0,280.00,ФР 4,NaN,NaN
48027,63820.0,01-02-2023 08:45,01-02-2023 08:40,Нет,NaN,Деркач Э.,Деркач Э.,NaN,300.00,0.0,300.00,ФР 6,NaN,NaN

In [18]:
df.shape

(68154, 14)

In [19]:
df["Номер чека"] = df["Номер чека"].astype(int)

In [27]:
print(df["Unnamed: 13"].isna().sum())
print(len(df["Unnamed: 13"]))

68154
68154

In [28]:
df.drop(columns = ["Unnamed: 13"], inplace=True)

In [29]:
df.head()

,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор,Unnamed: 14
48031,63816,01-02-2023 08:13,01-02-2023 08:13,Нет,NaN,Таня М.,Таня М.,светлана,300.00,0.0,300.00,ФР 4,NaN
48030,63817,01-02-2023 08:17,01-02-2023 08:17,Нет,NaN,Таня М.,Таня М.,степан,270.00,0.0,270.00,ФР 4,NaN
48029,63818,01-02-2023 08:26,01-02-2023 08:27,Нет,NaN,Таня М.,Таня М.,ирина,330.00,0.0,330.00,ФР 4,NaN
48028,63819,01-02-2023 08:37,01-02-2023 08:38,Нет,NaN,Таня М.,Таня М.,NaN,280.00,0.0,280.00,ФР 4,NaN
48027,63820,01-02-2023 08:45,01-02-2023 08:40,Нет,NaN,Деркач Э.,Деркач Э.,NaN,300.00,0.0,300.00,ФР 6,NaN

In [30]:
df["Unnamed: 14"].isna().sum()

68154

In [31]:
df.drop(columns = ["Unnamed: 14"], inplace=True)

In [32]:
df.head()

,Номер чека,Открыт,Закрыт,Возврат,Номер стола,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор
48031,63816,01-02-2023 08:13,01-02-2023 08:13,Нет,NaN,Таня М.,Таня М.,светлана,300.00,0.0,300.00,ФР 4
48030,63817,01-02-2023 08:17,01-02-2023 08:17,Нет,NaN,Таня М.,Таня М.,степан,270.00,0.0,270.00,ФР 4
48029,63818,01-02-2023 08:26,01-02-2023 08:27,Нет,NaN,Таня М.,Таня М.,ирина,330.00,0.0,330.00,ФР 4
48028,63819,01-02-2023 08:37,01-02-2023 08:38,Нет,NaN,Таня М.,Таня М.,NaN,280.00,0.0,280.00,ФР 4
48027,63820,01-02-2023 08:45,01-02-2023 08:40,Нет,NaN,Деркач Э.,Деркач Э.,NaN,300.00,0.0,300.00,ФР 6

In [33]:
df["Номер стола"].value_counts()

Доставка     1237
4             575
Стол 1        563
3             166
2              57
12             33
6 диван        21
5              19
1              16
11 кресла       7
1 диван         6
8               3
7               3
12.0            1
9               1
2.0             1
10              1
52930           1
Name: Номер стола, dtype: int64

In [34]:
df["Номер стола"].isna().sum()

65443

In [35]:
df.drop(columns = ["Номер стола"], inplace=True)

In [36]:
df.head()

,Номер чека,Открыт,Закрыт,Возврат,Кассир,Официант,Клиент,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор
48031,63816,01-02-2023 08:13,01-02-2023 08:13,Нет,Таня М.,Таня М.,светлана,300.00,0.0,300.00,ФР 4
48030,63817,01-02-2023 08:17,01-02-2023 08:17,Нет,Таня М.,Таня М.,степан,270.00,0.0,270.00,ФР 4
48029,63818,01-02-2023 08:26,01-02-2023 08:27,Нет,Таня М.,Таня М.,ирина,330.00,0.0,330.00,ФР 4
48028,63819,01-02-2023 08:37,01-02-2023 08:38,Нет,Таня М.,Таня М.,NaN,280.00,0.0,280.00,ФР 4
48027,63820,01-02-2023 08:45,01-02-2023 08:40,Нет,Деркач Э.,Деркач Э.,NaN,300.00,0.0,300.00,ФР 6

In [37]:
df["Клиент"].isna().sum()

61403

In [38]:
df.drop(columns = ["Клиент"], inplace=True)

In [39]:
df.head()

,Номер чека,Открыт,Закрыт,Возврат,Кассир,Официант,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор
48031,63816,01-02-2023 08:13,01-02-2023 08:13,Нет,Таня М.,Таня М.,300.00,0.0,300.00,ФР 4
48030,63817,01-02-2023 08:17,01-02-2023 08:17,Нет,Таня М.,Таня М.,270.00,0.0,270.00,ФР 4
48029,63818,01-02-2023 08:26,01-02-2023 08:27,Нет,Таня М.,Таня М.,330.00,0.0,330.00,ФР 4
48028,63819,01-02-2023 08:37,01-02-2023 08:38,Нет,Таня М.,Таня М.,280.00,0.0,280.00,ФР 4
48027,63820,01-02-2023 08:45,01-02-2023 08:40,Нет,Деркач Э.,Деркач Э.,300.00,0.0,300.00,ФР 6

In [41]:
import numpy as np
df = df.set_index(np.arange(len(df)))
df.head()

,Номер чека,Открыт,Закрыт,Возврат,Кассир,Официант,"Сумма по чеку, руб.","Стоимость доставки, руб.","Сумма по чеку без доставки, руб.",Фискальный регистратор
0,63816,01-02-2023 08:13,01-02-2023 08:13,Нет,Таня М.,Таня М.,300.00,0.0,300.00,ФР 4
1,63817,01-02-2023 08:17,01-02-2023 08:17,Нет,Таня М.,Таня М.,270.00,0.0,270.00,ФР 4
2,63818,01-02-2023 08:26,01-02-2023 08:27,Нет,Таня М.,Таня М.,330.00,0.0,330.00,ФР 4
3,63819,01-02-2023 08:37,01-02-2023 08:38,Нет,Таня М.,Таня М.,280.00,0.0,280.00,ФР 4
4,63820,01-02-2023 08:45,01-02-2023 08:40,Нет,Деркач Э.,Деркач Э.,300.00,0.0,300.00,ФР 6

In [42]:
df.shape

(68154, 10)

In [43]:
df.to_csv("Обработанные данные.csv", sep=";")